body
{
    height: auto;
    padding:0;
}
.container
{
    height:auto;
    width:700px;
    position: relative;
    padding:16px;
    left: calc(50vw - 358px);
    top: 120px;
}
#carrot
{
    height:auto;
    position: inherit;
    padding:0;
    width:400px;
    left:185px;
}
.zdj-carrot
{
    height:270px; 
    user-select: none;
    pointer-events: none;
}
.zdj-carrot:hover
{
    cursor: grab;
}
.zdj-carrot-clicked
{
    animation: scale 0.1s ease-in-out;
}
@keyframes scale {
    0%
    {
        scale: 102%;
    }
    50% 
    {
        scale: 100%;
    }
}

.wynik
{
    height:70px;
    font-size: 70px;
    text-align:center;
}
.button
{
    height: 150px;
    width:320px;
    display: inline-block;
    position: absolute;
    font-size:40px;
    text-align:center
}
.button1
{
    background-color: aqua;
    box-shadow: 4px 4px 8px rgb(32, 32, 32);
    left:16px;
}
.button1:hover::before
{
    position:absolute;
    top:0;
    left:-128px;
    height:auto;
    width:120px;
    color:rgb(177, 177, 177);
    padding:4px;
    content: attr(tooltip);
    font-size:18px;
    background-color: rgb(32, 32, 32);
    border:2px solid rgb(218,165, 32);
    box-shadow: -2px -2px 4px rgb(32, 32, 32);
}
.button2
{
    background-color: aqua;
    box-shadow: 4px 4px 8px rgb(32, 32, 32);
    right:16px;
}
.button2:hover::after
{
    position:absolute;
    top:0;
    right:-128px;
    height:auto;
    width:120px;
    color:rgb(177, 177, 177);
    padding:4px;
    content: attr(tooltip);
    font-size:18px;
    background-color: rgb(32, 32, 32);
    border:2px solid rgb(218,165, 32);
    box-shadow: 2px 2px 4px rgb(32, 32, 32);
}
.button-clicked
{
    box-shadow: none;
    box-shadow: inset 4px 4px 8px rgb(32, 32, 32);
}
.button:hover
{
    background-color: rgb(5, 241, 241);
}
.opis1
{
    position:absolute;
    font-size:50px;
    bottom:-35px;
    left:130px;
}
.cursor
{
    user-select: none;
    pointer-events: none;
    user-select: none;
    pointer-events: none;
}
.opis2
{
    position:absolute;
    font-size:50px;
    bottom:-35px;
    left:120px;
}
.cursor2x
{
    user-select: none;
    pointer-events: none;
}
.plus
{
    height:30px;
    position:absolute;
}