body
{
    height:100vh;
}
.container
{
    background-color: beige;
    height:fit-content;
    width:95%;
    margin-top: 20%;
    text-align:center;
    padding:16px;
}
a
{
    color: black;
    text-decoration: none;
}
h1
{
    padding-bottom: 16px;
    border-bottom:2px dashed rgb(150,100,100)
}
h1:hover
{
    color:rgb(50,50,50)
}

@media screen and (max-width:767px) {
    p
    {
        font-size:0.8em;
    }
    h1
    {
        font-size:1em;
        margin-bottom:0.5em;
    }
    
}