.container
{
    height:fit-content;
    width:1000px;
    padding:16px;
    background-color: aliceblue;
    box-shadow: 4px 4px 8px black;
    position: relative;
    top:120px;
    margin: auto;
    border:2px dashed rgb(200,180,180);
    display:grid;
}
.medium
{
    width:auto;
    height:fit-content;
    border-bottom: 4px dashed rgb(200, 180, 190);
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.search
{
    width:500px;
    height:50px;
    border-radius:24px;
    margin: 20px auto 0 auto;
    text-align: left;
    display: flex;
    box-shadow: 2px 2px 4px black;
}
.searchbar
{
    width:420px;
    height:45px;
    border-radius:24px 0 0 24px;
    font-size: 32px;
    padding-left: 10px;
    border: 2px solid black;
}
.find
{
    width:850px;
    height:27px;
    text-align: center;
    padding:10px;
    background-color: rgb(200,200,200);
    border-radius:0 24px 24px 0;
    border: 2px solid black;
    border-left: none;
}
.find:hover
{
    cursor: pointer;
    background-color: rgb(180,180,180);
}
.lower
{
    height:fit-content;
    width:1000px;
    display:flex;
    margin:0;
}
.kategorie
{
    height: auto;
    width: 200px;
    padding:8px;
}
.pojemnikTypu
{
    padding: 14px 0;
}
.koszt
{
    width:190px;
    margin:auto;
    height:80px;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
    padding-top: 16px;
    text-align: center;
}
.lower label:hover, 
.lower input:hover
{
    cursor: pointer;
}
.typ
{
    
    width:190px;
    margin:auto;
    height:fit-content;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
}
.typ > label
{
    display: block;
}
.ocena
{
    width:190px;
    margin:auto;
    height:80px;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
    text-align:center;
}
.przedmioty
{
    height:auto;
    width:800px;
    display: grid;
}
.rzad
{
    width:800px;
    height:300px;
    display: flex;
}
.okno
{
    height:250px;
    width:220px;
    padding:8px;
    background-color: aliceblue;
    margin:16px;
    overflow: hidden;
    border: 2px solid rgb(197, 197, 150);
}
.okno:hover
{
    background-color: rgb(233, 233, 233);   
    cursor: pointer;
}
.zdj
{
    height:150px;
    width:200px;
    overflow: hidden;
}
.zdj > img
{
    height:150px;
}
.opis
{
    font-size: 20px;
}
.ocenaProduktu
{
    padding: 0;
    margin-top: -20px;
    height:16px;

}
.ocenaProduktu > img
{
    height:16px;
    padding: 0 4px;
}
.cenaProduktu
{
    padding:10px 0;
    font-size: 30px;
}