body
{
    width:100vw;
}
.container
{
    height:fit-content;
    width:1000px;
    padding:16px;
    background-color: aliceblue;
    box-shadow: 4px 4px 8px black;
    position: relative;
    top:120px;
    margin: auto;
    border:2px dashed rgb(200,180,180);
    display:grid;
}
.medium
{
    width:auto;
    height:150px;
    border-bottom: 4px dashed rgb(200, 180, 190);
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
    display: flex;
}
.medium > a
{
    color:black;
}
.basket
{
    height:50px;
    width:50px;
    border: 2px solid rgb(200,150,150);
    position: absolute;
    top:65px;
    left:50px;
    box-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numerZakupow
{
    height:30px;
    width:30px;
    background-color: rgb(200, 67, 50);
    position: absolute;
    top:35px;
    left:35px;
    border-radius: 6px;
}
.widok
{
    height:50px;
    width:50px;
    border: 2px solid rgb(200,150,150);
    position: absolute;
    top:65px;
    left:150px;
    box-shadow: 2px 2px 4px black;
}
.basket:hover, .widok:hover
{
    box-shadow: inset 2px 2px 4px black; 
    cursor: pointer;
}
.search
{
    width:500px;
    height:50px;
    border-radius:24px;
    margin: 20px auto 0 auto;
    text-align: left;
    display: flex;
    box-shadow: 2px 2px 4px black;
    margin:auto;
}
.searchbar
{
    width:420px;
    height:45px;
    border-radius:24px 0 0 24px;
    font-size: 32px;
    padding-left: 10px;
    border: 2px solid black;
}
.find
{
    width:850px;
    height:27px;
    text-align: center;
    padding:10px;
    background-color: rgb(200,200,200);
    border-radius:0 24px 24px 0;
    border: 2px solid black;
    border-left: none;
}
.find:hover
{
    cursor: pointer;
    background-color: rgb(180,180,180);
}
.sort
{
    position: absolute;
    right:16px;
    top:20px;
}
.sort > p
{
    font-size: 14px;
    background-color: aliceblue;
    position: relative;
    top:25px;
    left:20px;
    width:80px;
}
.sort > select
{
    height:fit-content;
    padding:10px;
    width:190px;
    border: 2px solid rgb(200,150,150);
    background-color: aliceblue;
    font-size: 30px;
    text-align: center;
    box-shadow: 2px 2px 4px black;
}
.sort > select > option
{
    font-size:24px;
    border-bottom: 2px solid black;
}
.lower
{
    height:fit-content;
    width:1000px;
    display:flex;
    margin:0;
}
.kategorie
{
    height: auto;
    width: 200px;
    padding:8px;
}
.pojemnikTypu
{
    padding: 14px 0;
}
.koszt
{
    width:190px;
    margin:auto;
    height:80px;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
    padding-top: 16px;
    text-align: center;
}
.lower label:hover, 
.lower input:hover
{
    cursor: pointer;
}
.typ
{
    
    width:190px;
    margin:auto;
    height:fit-content;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
}
.typ > label
{
    display: block;
}
.ocena
{
    width:190px;
    margin:auto;
    height:80px;
    background-color: aliceblue;
    border-bottom:4px dashed rgb(200,180,180);
    text-align:center;
}
.wyszukaj {
    height: 80px;
    margin-top: 20px;
    width: 200px;
    padding: 8px;
    font-size: 30px;
    background-color: rgb(200, 100, 150);
    box-shadow: 4px 4px 8px black;
}

.wyszukaj:hover {
    animation: 10s kolorki infinite, 10s cien infinite;
}   

@keyframes kolorki {
    0% {
        background-color: rgb(200, 100, 150);
    }
    25% {
        background-color: rgb(15, 101, 230);
    }
    50% {
        background-color: rgb(177, 95, 48);
    }
    75% {
        background-color: rgb(85, 177, 48);
    }
    100% {
        background-color: rgb(200, 100, 150);
    }
}

@keyframes cien {
    0% {
        box-shadow: 4px 4px 8px black;
    }
    50% {
        box-shadow: 4px 4px 8px rgb(133, 133, 133);
    }
    100% {
        box-shadow: 4px 4px 8px black;  
    }
}

.przedmioty
{
    height:auto;
    width:800px;
    display: flex;
    flex-wrap: wrap;
}
.okno
{
    height:250px;
    width:220px;
    padding:8px;
    background-color: aliceblue;
    margin:8px;
    overflow: hidden;
    border: 2px solid rgb(197, 197, 150);
    position: relative;
}
.okno:hover
{
    background-color: rgb(233, 233, 233);   
    cursor: pointer;
}
.zdj
{
    height: 150px;
    width:fit-content;
    margin: auto;
    overflow: hidden;
}
.zdj > img
{
    height:150px;
}
.opis
{
    font-size: 20px;
}
.ocenaProduktu
{
    padding: 0;
    margin-top: -20px;
    height:16px;

}
.ocenaProduktu > img
{
    height:16px;
    padding: 0 4px;
}
.cenaProduktu
{
    padding:10px 0;
    font-size: 30px;
}
.oknoLista .zdj
{
    margin:0;
}
.zdj
{
    height: 150px;
    width:fit-content;
    margin: auto;
    overflow: hidden;
}
.zdj > img
{
    height:150px;
    max-width: 180px;
}
.opis
{
    font-size: 20px;
}
.ocenaProduktu
{
    padding: 0;
    margin-top: -20px;
    height:16px;

}
.ocenaProduktu > img
{
    height:16px;
    padding: 0 4px;
}
.cenaProduktu
{
    padding:10px 0;
    font-size: 30px;
    position: relative;
}
.staraCena
{
    position: absolute;
    top:-15px;
    font-size: 20px;
    right:-30px;
    color:rgba(99, 99, 99, 0.8);
    text-decoration:line-through;
}
.nowaCena 
{
    color:rgb(255, 30, 50);
    text-shadow: 2px 2px 4px rgb(148, 148, 148);
}
.oznaczeniePromocji
{
    height:60px;
    position: absolute;
    top:0;
    right:0px;
}
.oznaczeniePromocji > img
{
    height:60px;
}
.addToCart
{
    height:40px;
    width:80px;
    background-color: rgba(150, 150, 150, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:8px;
    bottom:8px;
    z-index:3;
}
.rzadek
{
    display: grid;
}
.oknoLista
{
    width:700px;
    height:150px;
    position: relative;
}
.oknoLista > .opis
{
    position: absolute;
    top:-24px;
    left:200px;
    font-size: 36px;
}
.oknoLista > .ocenaProduktu
{
    position: absolute;
    top:86px;
    left:200px;
}
.oknoLista > .cenaProduktu
{
    position: absolute;
    top:100px;
    left:200px;
    font-size: 42px;
}
.oknoLista > .addToCart
{
    height:80px;
    width:160px;
}

.filtrowanie
{
    display: none;
}

@media screen and (max-width: 768px) 
{
    .container
    {
        margin-top:-20px;
        width:85vw;
        border-radius: 10px;
    }
    .medium
    {
        width:85vw;
        height:130px;
        position: relative;
    }
    .widok
    {
        display: none;
    }
    .basket
    {
        top:0;
        left:0;
        height:45px;
        width:45px;
        padding:4px;
    }
    .filtrowanie
    {
        display: block;
        position: absolute;
        top:0;
        left:22vw;
        width:25vw;
        height:45px;
        padding:4px;
        padding:0;
        text-align: left;
        padding:4px;
        border: 2px solid rgb(200,150,150);
        box-shadow: 2px 2px 4px black;
        text-align: center;
    }
    .filtrowanie > h3
    {
        position:relative;
        padding:0;
        margin:0;
        font-weight: 500;
        font-size:1.6em;
    }
    .sort
    {
        top:0;
        right:0;
        height:53px;
        width:35%;
    }
    .sort > p
    {
        position: absolute;
        top:-20px;
        left:10px;
        z-index:2;
    }
    .sort > select
    {
        position: absolute;
        top:0;
        right:0;
        width:100%;
        height:100%;
    }
    .search
    {
        position: static;
        margin:auto;
        width:100%;
        height:fit-content;
        position: absolute;
        bottom:20px;
    }
    .searchbar
    {
        width:90%;
    }
    .find
    {
        width:30%;
    }
    .lower
    {
        width:85vw;
    }
    .kategorie
    {
        display:none;
    }
    .okno
    {
        width:100%;
    }
    .addToCart
    {
        height:20%;
    }
    .tlo
    {
        height:90vh;
        width:100vw;
        background-color: rgba(240, 248, 255, 0.9);
        z-index: 5;
        position: sticky;
        left:0;
        bottom:0;
    }
    .schowaj
    {
        position: sticky;
        top:15vh;
        left:85%;
        height:5%;
        width:10%;
    }
    .schowaj > img
    {
        height:100%;
        width:100%;
    }
    .tlo > p
    {
        position: absolute;
        left:5%;
        top:5vh;
        padding: 0;
        margin:0;
        font-size: 1.2em;
        font-family: serif;
    }
    .przedmiotyKupione
    {
        height:88%;
        width:90%;
        position: absolute;
        left:5%;
        bottom:0;
    }
    .zakup
    {
        display: flex;
        height:20%;
        background-color: aliceblue;
        overflow: hidden;
        border: 2px solid rgb(197, 197, 150);
        margin-bottom:1%;
    }
    .wartosc
    {
        width:10%;
        display: grid;
    }
    .dodaj, .numer, .odejmij
    {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dodaj > img, .odejmij > img
    {
        width:inherit;
    }
    .zawartosc
    {
        width:90%;
    }
    .zawartosc > .okno
    {
        width:100%;
        padding: 0;
        margin:0;
        height:100%;
        margin-bottom:1%;
        border:none;
        border-left:2px dashed rgb(165, 165, 165);
    }
    .przedmiotyKupione .zdj
    {
        width:50%;
        text-align: right;
    }
    .przedmiotyKupione  .okno .zdj
    {
        position: absolute;
        right:2%;
        height:100%;
        max-width:100%;
    }
    .przedmiotyKupione  .okno  .zdj  img
    {
        height:100%;
    }
    .przedmiotyKupione  .okno  .oznaczeniePromocji  img
    {
        height:70%;
    }
    .przedmiotyKupione .opis
    {
        height:50%;
        width:60%;
        position:relative;
        bottom:15%;
    }
    .przedmiotyKupione .opis > p
    {
        padding:4px 4px;
    }
    .okno:hover
    {
        background-color: aliceblue;
    }
}