* {
    box-sizing: border-box;
}
.container
{
    background-color: white;
    padding:16px;
    border-radius:8px;
    width: 200px;
    height:250px;
    margin:5vh 0;
    box-shadow: 12px 12px 2px 1px rgba(47, 47, 80, 0.2);
    position: absolute;
    top: calc(50vh - 125px - 100px);
    left: calc(50vw - 100px);
}
input
{
    width:100%;
}
.submit
{
    width:100%;
    background-color: rgb(255, 255, 255);
    color:black;
    height:26px;
}
.submit:hover
{
    background-color: rgb(231, 230, 230);
    color: rgb(41, 41, 43)
}
input:focus
{
    background-color:   rgb(205, 246, 184);
    -webkit-box-shadow: 4px 4px 37px -3px rgba(131, 209, 93, 1);
    -moz-box-shadow: 4px 4px 37px -3px rgba(131, 209, 93, 1);
    box-shadow: 4px 4px 37px -3px rgba(131, 209, 93, 1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wynik
{
    background-color: beige;
    padding:12px;
    border-radius:14px;
    box-shadow: 12px 12px 2px 1px rgba(39, 39, 74, 0.2);   
    width:200px;
    opacity:0;
}
.show-wynik
{
    opacity:1;
}
@media screen and (max-width: 767px) {

    .container
    {
        position: absolute;
        left:calc((100vw - 200px) / 2);
        top: 30vh; 
    }
    .container
    {
        z-index: -1;
    }
    .menu-list
    {
        z-index: 3;
        width:40vw;
    }
}