html
{
    scroll-behavior: smooth;
}
.kalorie
{
    width:800px;
    height:1200px;
    color:black;
    font-size:34px;
    background-color: rgb(110, 235, 201);
    display:flex;
    position: absolute;
    left:calc(50vw - 400px);
}
.sex
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top:40px;
}
.label_gender
{
    display:block;
    text-align:center;
    position:absolute;
    top:2px;
    left:140px;
}
.label_male
{
    position:absolute;
    left:30px;
    top:115px;
    font-size:30px;
}
.male
{
    position:absolute;
    left:210px;
    top:125px;
}
.label_female
{
    position:absolute;
    left:300px;
    top:115px;
    font-size:30px;
}
.female
{
    position:absolute;
    left:430px;
    top:125px;
}
.size
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 270px;
}
.label_weight
{
    position:absolute;
    left:20px;
    top:30px;
}
.weight
{
    position:absolute;
    left:20px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
    
}
.label_height
{
    position:absolute;
    left:180px;
    top:30px;
}
.height
{
    position:absolute;
    left:180px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
.label_age
{
    position:absolute;
    left:350px;
    top:30px;
}
.age
{
    position:absolute;
    left:350px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.training
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 490px;
}
.label_excersize
{
    display:block;
    text-align:center;
    position:absolute;
    top:0;
    left:calc((500px - 350px) / 2);
}
.excersize
{
    position:absolute;
    left:150px;
    top:100px;
    width:180px;
    height:50px;
    font-size:20px;
    text-align:center;
}
.goal
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 710px;
}
.label_goal_weight
{
    position:absolute;
    left:120px;
    top:30px;
}
.goal_weight
{
    position:absolute;
    left:180px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
.submit
{
    height:50px;
    width:300px;
    position:absolute;
    top:930px;
    left:250px;
    font-size:20px;
    background-color: aliceblue;
}
.submit:hover
{
    color:rgb(62, 63, 65);
    background-color: rgb(224, 230, 236);
}
.sex,
.size,
.training,
.goal
{
    background-color: rgb(221, 245, 232);
    box-shadow: 12px 12px 2px 1px rgba(39, 39, 74, 0.2);  
}
.not_result
{
    position:absolute;
    width:500px;
    height:180px;
    background-color: antiquewhite;
    left:150px;
    top:1000px;
    opacity:0;
}
.yes_result
{
    opacity:1;
}
@media screen and (max-width: 767px) {
    
    html {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
        }
    body
    {
        width:100vw;
        padding: 0;
        margin:0;
    }
    .kalorie
    {
        z-index: -1;
        width:80vw;
        left:10vw;
        display: flex;
    }
   .sex,
   .size,
   .training,
   .goal
   {
        width:80vw;
        height:15vh;
        left:0;
        position:absolute;
   }
   .sex
   {
    top:10px;
   }
   .size
   {
    top:210px;
   }
   .training
   {
    top:410px;
   }
   .goal
   {
    top:610px;
   }
   .size > input,
   .training > input,
   .goal > input
   {
        height:4vh;
        width:15vw;
   }
   .label_gender
   {
       display:block;
       text-align:center;
       position:absolute;
       top:-30px;
       left:20vw;
   }
   .label_male
   {
       position:absolute;
       left:2vw;
       top:6vh;
   }
   .male
   {
       position:absolute;
       left:17vw;
       top:12vh;
   }
   .label_female
   {
       position:absolute;
       left:50vw;
       top:6vh;
   }
   .female
   {
       position:absolute;
       left:60vw;
       top:12vh;
   }
    .label_weight
    {
        position:absolute;
        left:2vw;
        top:20px;
        font-size:0.9em;
    }
    .weight
    {
        position:absolute;
        left:10px;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
        
    }
    .label_height
    {
        position:absolute;
        left:27vw;
        top:20px;
        font-size:0.9em;
    }
    .height
    {
        position:absolute;
        left:30vw;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
    }
    .label_age
    {
        position:absolute;
        left:60vw;
        top:20px;
        font-size:0.9em;
    }
    .age
    {
        position:absolute;
        left:60vw;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
    }
    .label_excersize
    {
        top:-30px;
        left:0px;
        font-size: 30px;
    }
    .excersize
    {
        left:20vw;
        top:10vh;
        width:40vw;
        height:5vh;
    }
    .label_goal_weight
    {
        left:5vw;
        top:2vh;
    }
    .goal_weight
    {
        left:30vw;
        top:8vh;
        width:80vw;
    }
    .submit
    {
        height:5vh;
        width:80vw;
        top:100vh;
        left:0;
    }
    .not_result
    {
        position:absolute;
        width:280px;
        height:150px;
        background-color: antiquewhite;
        top:120vh;
        left:0;
        opacity:0;
    }
    .yes_result
    {
        opacity:1;
    }
    .submit:active
    {
        color:rgb(62, 63, 65);
        background-color: rgb(224, 230, 236);
    }
}