body {
    background-color: rgb(2, 224, 165);
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 100%;
}
header {
    position:sticky;
    top:0px;
    left:0px;
    height: 100px;
    width:600px;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 194, 29);
    width:100vw;
}

.menu {
    height: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

nav {
    position: absolute;
    top: -5px;
    font-size: 26px;
    width: 130px;
}

nav > ol > li > ul {
    position: relative;
    font-size: 20px;
    left: -43px;
    top: 12px;
    width:118px;
    background-color: rgb(122, 212, 119);
}

nav > ol > li > ul > li {
    position: relative;
    display: block; 
    width: 150px; 
    height:200px;
    left:-37px;
    height: auto; 
    padding: 35px 0;
    font-size: 18px;
    display:none;
}

nav > ol > li:hover > ul > li {
    display: block;
}

a.position {
    color: black;
    text-decoration: none;
}

li:hover > a.position {
    color: rgb(62, 63, 65);
}

.logo {
    width: 250px;
    height: 100px;
    padding: 0;
    margin-left:calc(50vw - 950px);
}

a.homepage {
    color: black;
    text-decoration: none;
    padding: 0;
    text-align: right;
    display: block;
}

@media screen and (min-width: 600px) {
    a.homepage {
        text-align: center;
    }
    nav > ol > li > ul
    {
        position: relative;
        width:200px;
        left:-43px; 
        top: 12px;
        background-color: rgb(122, 212, 119);
    }
    nav > ol > li > ul > li
    {
        position:relative;  
        display:inline-block;
        top: 12px;
        width: 200px;
        height:50px;
        margin-bottom:50px;
        padding:8px;
    }
    nav > ol > li > ul > li
    {
        display:none;
    }
    nav > ol > li:hover > ul > li
    {
        display:block;
    }
    .logo {
        width: 250px;
        height: 100px;
        padding: 0;
    }
}
/*  Nowy Kod    */
.kalorie
{
    width:800px;
    height:1200px;
    color:black;
    font-size:34px;
    background-color: rgb(110, 235, 201);
    display:flex;
    position: absolute;
    left:calc(50vw - 400px);
}
.sex
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top:40px;
}
.label_gender
{
    display:block;
    text-align:center;
    position:absolute;
    top:20px;
    left:calc((500px - 200px) / 2);
}
.label_male
{
    position:absolute;
    left:30px;
    top:115px;
}
.male
{
    position:absolute;
    left:210px;
    top:125px;
}
.label_female
{
    position:absolute;
    left:300px;
    top:115px;
}
.female
{
    position:absolute;
    left:430px;
    top:125px;
}
.size
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 270px;
}
.label_weight
{
    position:absolute;
    left:20px;
    top:30px;
}
.weight
{
    position:absolute;
    left:20px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
    
}
.label_height
{
    position:absolute;
    left:180px;
    top:30px;
}
.height
{
    position:absolute;
    left:180px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
.label_age
{
    position:absolute;
    left:350px;
    top:30px;
}
.age
{
    position:absolute;
    left:350px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.training
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 490px;
}
.label_excersize
{
    display:block;
    text-align:center;
    position:absolute;
    top:30px;
    left:calc((500px - 350px) / 2);
}
.excersize
{
    position:absolute;
    left:150px;
    top:100px;
    width:180px;
    height:50px;
    font-size:20px;
    text-align:center;
}
.goal
{
    background-color: white;
    height:180px;
    width:500px;
    border:2px solid rgb(201, 201, 201);
    position:absolute;
    left:150px;
    top: 710px;
}
.label_goal_weight
{
    position:absolute;
    left:120px;
    top:30px;
}
.goal_weight
{
    position:absolute;
    left:180px;
    top:115px;
    width:120px;
    height:30px;
    font-size:20px;
}
.submit
{
    height:50px;
    width:300px;
    position:absolute;
    top:930px;
    left:250px;
    font-size:20px;
    background-color: aliceblue;
}
.submit:hover
{
    color:rgb(62, 63, 65);
    background-color: rgb(224, 230, 236);
}
.sex,
.size,
.training,
.goal
{
    background-color: rgb(221, 245, 232);
    box-shadow: 12px 12px 2px 1px rgba(39, 39, 74, 0.2);  
}
.not_result
{
    position:absolute;
    width:500px;
    height:180px;
    background-color: antiquewhite;
    left:150px;
    top:1000px;
    opacity:0;
}
.yes_result
{
    opacity:1;
}
@media screen and (max-width: 767px) {
    body
    {
        height:1000px;
    }
    header
    {
        height:100px;
    }
   .sex,
   .size,
   .training,
   .goal
   {
        width:80vw;
        height:15vh;
        position:absolute;
   }
   .sex
   {
    top:10px;
    left:55vw;
   }
   .size
   {
    top:210px;
    left:55vw;
   }
   .training
   {
    top:410px;
    left:55vw;
   }
   .goal
   {
    top:610px;
    left:55vw;
   }
   .size > input,
   .training > input,
   .goal > input
   {
        height:4vh;
        width:15vw;
   }
   .label_gender
   {
       display:block;
       text-align:center;
       position:absolute;
       top:10px;
       left:20vw;
   }
   .label_male
   {
       position:absolute;
       left:2vw;
       top:7vh;
   }
   .male
   {
       position:absolute;
       left:17vw;
       top:12vh;
   }
   .label_female
   {
       position:absolute;
       left:50vw;
       top:7vh;
   }
   .female
   {
       position:absolute;
       left:60vw;
       top:12vh;
   }
    .label_weight
    {
        position:absolute;
        left:2vw;
        top:20px;
        font-size:0.9em;
    }
    .weight
    {
        position:absolute;
        left:10px;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
        
    }
    .label_height
    {
        position:absolute;
        left:27vw;
        top:20px;
        font-size:0.9em;
    }
    .height
    {
        position:absolute;
        left:30vw;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
    }
    .label_age
    {
        position:absolute;
        left:60vw;
        top:20px;
        font-size:0.9em;
    }
    .age
    {
        position:absolute;
        left:60vw;
        top:8vh;
        width:120px;
        height:30px;
        font-size:20px;
    }
    .label_excersize
    {
        top:1px;
        left:2vw;
    }
    .excersize
    {
        left:20vw;
        top:10vh;
        width:40vw;
        height:5vh;
    }
    .label_goal_weight
    {
        left:10vw;
        top:2vh;
    }
    .goal_weight
    {
        left:30vw;
        top:8vh;
        width:80vw;
    }
    .submit
    {
        height:5vh;
        width:80vw;
        top:90vh;
        left:56vw;
    }
    .not_result
    {
        position:absolute;
        width:500px;
        height:180px;
        background-color: antiquewhite;
        left:150px;
        top:800px;
        opacity:0;
    }
    .yes_result
    {
        opacity:1;
    }
    header {
        position: relative;
      }
    .menu-list {
        z-index: 1; 
    }
    .submit:active
    {
        color:rgb(62, 63, 65);
        background-color: rgb(224, 230, 236);
    }
}