.quiz
{
    width:500px;
    height:300px;
    background-color:   rgb(205, 246, 184);
    position:relative;
    top:calc(50vh - 150px - 100px);
    left:calc(50vw - 250px);
    box-shadow: 12px 12px 2px 1px rgba(47, 47, 80, 0.2);
}
.title
{
    font-size:36px;
    margin-left:auto;
    margin-right:auto;
    padding:6px 4px;
}
.odpowiedz
{
    position: absolute;
    position: absolute;
    display: inline-block;

}
.odpowiedz-label
{
    position: absolute;
}
.odpowiedz1
{
    top:140px;
    left:10px;
    background-color: aquamarine;
    height:200px;
}
.odpowiedz-label1
{
    position: absolute;
    top:140px;
    left:30px;
}
.odpowiedz2
{
    position: absolute;
    top:200px;
    left:10px;
}
.odpowiedz-label2
{
    position: absolute;
    top:200px;
    left:30px;
}
.odpowiedz3
{
    position: absolute;
    top:260px;
    left:10px;
}
.odpowiedz-label3
{
    position: absolute;
    top:260px;
    left:30px;
}
.odpowiedz4
{
    position: absolute;
    top:320px;
    left:10px;
}
.odpowiedz-label4
{
    position: absolute;
    top:320px;
    left:30px;
}