body {
    background: rgb(201,230,183);
    background: linear-gradient(90deg, rgba(201,230,183,1) 0%, rgba(151,223,130,1) 100%);
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    min-width: 100%;
}
header {
    position:absolute;
    top:0px;
    left:0px;
    height: 100px;
    width:600px;
    padding: 0;
    margin: 0;
    background-color: rgb(144, 223, 120);
    width:100vw;
}

.menu {
    height: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

nav {
    position: absolute;
    top: -5px;
    font-size: 26px;
    width: 130px;
}

nav > ol > li > ul {
    position: relative;
    font-size: 20px;
    left: -43px;
    top: 12px;
    width:168px;
    background-color: rgb(144, 223, 120);
}

nav > ol > li > ul > li {
    position: relative;
    display: block; 
    width: 150px; 
    height:200px;
    left:-37px;
    height: auto; 
    padding: 35px 0;
    font-size: 18px;
    display:none;
}

nav > ol > li:hover > ul > li {
    display: block;
    text-align: center;
}

a.position {
    color: black;
    text-decoration: none;
}

li:hover > a.position {
    color: rgb(62, 63, 65);
}

.logo {
    width: 250px;
    height: 100px;
    padding: 0;
    position:absolute;
    right: calc(50vw - 125px);
    top:0;
}

a.homepage {
    color: black;
    text-decoration: none;
    padding: 0;
    text-align: right;
    display: block;
}
@media screen and (max-width: 767px) {
    header
    {
        height:10vh;
        padding:0;
        margin:0;
    }
    .menu
    {
        height:6vh;
        padding: 0;
        top:0;
        left:0;
        margin:0;
    }
    nav > ol > li > ul
    {
        position: relative;
        width:200px;
        top:0;
        left:-43px; 
        background-color: rgb(122, 212, 119);
    }
    nav > ol > li > ul > li
    {
        position:relative;  
        display:inline-block;
        width: 200px;
        height:50px;
        margin-bottom:50px;
        padding:8px;
    }
    nav > ol > li > ul > li
    {
        display:none;
    }
    nav > ol > li:hover > ul > li
    {
        display:block;
    }
    .logo {
        position:absolute;
        width: 20vh;
        height: 10vh;
        padding: 0;
        top:0;
        right:0;
    }
    .menu-list
    {
        z-index: 3;
        width:40vw;
    }
}