.quiz
{
    width:500px;
    height:300px;
    background-color:   rgb(205, 246, 184);
    position:relative;
    top:calc(50vh - 150px - 100px);
    left:calc(50vw - 250px);
    box-shadow: 12px 12px 2px 1px rgba(47, 47, 80, 0.2);
}
.title
{
    font-size:36px;
    margin-left:auto;
    margin-right:auto;
    padding:6px 4px;
}