header
{
    margin-bottom:30px;
}
.main
{
    max-width: 780px;
    margin:0 auto;
}
.quiz
{
    width:auto;
    background-color:   rgb(205, 246, 184);
    position:relative;
    box-shadow: 12px 12px 2px 1px rgba(47, 47, 80, 0.2);
    padding:16px;
}
.title
{
    font-size:38px;
    padding:6px 4px;
    margin: 0 auto;
    text-align: center;
}
.odpowiedz
{
    height: 28px;
    width:28px;
    margin-right: 16px;
}
.pytanie
{
    font-size:34px;
    margin-bottom:16px;
    font-weight: 600;
}
.odpowiedzContainer
{
    padding: 16px 0;
}
.odpowiedz-label
{
    position: absolute;
    font-size:30px;
}
.question
{
    margin-bottom:30px
}
.submit
{
    background-color: rgb(150, 150, 135);
    width:200px;
    height:50px;
    font-size:36px;
    margin:0;
    padding:4px;
}
.submit:hover
{
    background-color: rgb(119, 119, 110);
    color: rgba(65, 63, 63);
}
.wynik
{
    opacity: 0;
    height:100px;
    width:300px;
    background-color: aliceblue;
    position:absolute;
    right:10px;
    bottom:10px;
    box-shadow: 12px 12px 2px 1px rgba(47, 47, 80, 0.2);
    font-size:44px;
    text-align: center;
}
.wynik-show
{
    opacity:1;
    background-color:rgb(84, 218, 84);
    color:rgb(39, 112, 39);
}
.wynik-hide
{
    opacity:1;
    background-color:rgb(200, 50, 50);
    color: rgb(121, 3, 3);
}